* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.row-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    gap: 0.1rem;
}

button {
    width: 2rem;
}