* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem;
    background-color: #B0BBC0;
}

.row-container {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    gap: 0.1rem;
}

.display-results {
    padding: 0.2rem;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid #818e94;
    height: 40px;
    color: #e8f8ff;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
}

button {
    width: 2rem;
    border-radius: 0.2rem;
}

button.clear {
    font-size: 0.5rem;
}